<%= form_tag(:staticpages, method: 'get') do %>

<div class="field is-horizontal">
  <div class="field-body">
    <div class="field">
      <p class="control is-expanded ">
        <%= text_field_tag :username, nil, class: "input is-line" %>
      </p>
    </div>

    <div class="field is-narrow">
        <%= submit_tag("Search", class: "button is-rounded is-custom") %>
    </div>
  </div>
</div>

<% end %>